* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body.dark-mode {
  background: linear-gradient(to bottom, #0f172a, #1e293b);
  color: white;
  padding: 40px;
}


body.light-mode {
  background: #f5f7fb;
  color: #0f172a;
  padding: 40px;
}

body.light-mode .container {
  background: #ffffff;
  border-color: #e6e9ef;
  
}
body.light-mode p{
    color:rgb(93, 91, 91)}

body.light-mode .card {
  background: #ffffff;
  border: 1px solid #e6e9ef;
  color: #0f172a;
}

body.light-mode .filter {
  background: #f1f5f9;
  color: #0f172a;
}



  


body.light-mode .remove {
    background: transparent;
    border: 1px solid #cbd5e1;
    color: #0f172a;
}


body.light-mode .filter:active,
body.light-mode .filter.active,
.filter.light-mode:active,
.filter.light-mode.active {
    background:hsl(3, 77%, 44%);
    color: #ffffff;
    border-color: hsl(3, 77%, 44%);
 
    transition: 0.3s;;
    cursor: pointer;
    transition: 0.15s;
}
body.light-mode .remove:hover {
  background:hsl(3, 77%, 44%);
  color:white;
  
  border-color:hsl(3, 77%, 44%);
}




.container {
  max-width: 1200px;
  margin: auto;
  border-radius: 16px;
  border: 1px solid #334155;
  border-style: solid;
  background: #1e293b;
  height: 60px;
  width: 1200px;
  align-items: center;
  
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 8px 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  background: #ff5f5f;
  padding: 10px;
  border-radius: 8px;
}






.settings {
  font-size: 20px;
  cursor: pointer;
  background-color:#1d2633;
  border: 20px;
  border-radius: 8px;
  align-items: center;
  display:flex;

}


.top-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
  margin: auto;
  gap:370px;
}

.filters {
  display: flex;
  gap: 10px;
}
.filter.light-mode{
  background: #334155;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.filter.light-mode.active {
  background: hsl(3, 77%, 44%);
}
.filter {
  background: #334155;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.switch.light-mode{
    background-color: hsl(3, 77%, 44%);
}

.filter.active {
  background: hsl(3, 77%, 44%);
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  width: 1200px;
  margin:auto;
}


.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #334155;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  gap: 15px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
}




.card-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove {
  background: transparent;
  border: 1px solid #475569;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}


p{
    color:rgb(220, 215, 215)
}

.switch {
  position: relative;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #475569;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content:"";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: .3s;
}
input:checked+.slider.light-mode{
    background-color: hsl(3, 77%, 44%);
}
input:checked + .slider {
  background-color: #ff5f5f;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
.remove:hover {
  background:#ff5f5f;
  color:hsl(226, 25%, 17%);
  border-color:hsl(226, 25%, 17%);
}